.advantages {
  display: flex;
}
.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}
.advantages-icon-container {
  width: 100%;
  background: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}
