.advantages {
  // display: flex;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.section-advantages {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages-list {
  width: 100%;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.advantages-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-icon {
  width: 70px;
  height: 70px;
  margin-left: 0;
  margin-right: 0;
}
.advantages-icon-container {
  width: 100%;
  background: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
