:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway';
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --contact-head: #757575;
  --titel-hero-button: #ffffff;
  --bacground-button: #f5f4fa;
  --border-portfolio: #eeeeee;
  --fill: #afb1b8;
}
